.bigYellow-Triangle {
    transform: translateX(-2em) translateY(11.5em) rotate(315deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}
.bigGreen-Triangle {
    transform: translateX(4.6em) translateY(6em) rotate(180deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}
.blue-Triangle {
    transform: translateX(-9.5em) translateY(-12em) rotate(45deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}
.red-Square {
    transform: translate(-7.7em,-2.2em);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}
.blue-Parallelogram {
    transform: translateX(-5.2em) translateY(-8.5em) rotate(90deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}
.orange-Triangle {
    transform: translateX(-10.2em) translateY(2.9em) rotate(270deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}
.greenSmallTriangle {
    transform: translateX(-5.6em) translateY(8em) rotate(315deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}

