/*button burger creation middle bar*/
.button_burger {
    width: 35px;
    height: 22px;
    position: fixed;
    top: auto;
    right: 0;
    position: absolute;
    cursor: pointer;
    z-index: 1000;
}
    
.button_burger span {
    width: 70%;
    height: 4px;
    background-color: black;
    display: block;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;
}

/*top / bottom burger bar icon*/
.button_burger span::before, .button_burger span::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: black;
    transition: transform 0.5s ease-in-out;
}

.button_burger span::before{
    transform: translateY(-10px);
}
    
.button_burger span::after{
    transform: translateY(10px);
}

/*button animation*/
.button_burger.active span {
    background-color: transparent;
}

.button_burger.active span::before {
    transform: translateY(0px) rotateZ(45deg);
    background-color: rgba(255, 166, 0, 0.575);
}

.button_burger.active span::after {
    transform: translateY(0px) rotateZ(-45deg);
    background-color: rgba(255, 166, 0, 0.575);
}

/*menu inside burger*/
.nav {
    display: none;
    /*background-color: rgb(255, 255, 255);*/
    background: #ffffff;
    height: auto;
    width: 50%;
    top: 40px;
    left: 0;
    position: fixed;
    box-shadow: 0px 0px 10px #aaaaaa;
    z-index: 100;
}
    
.nav.visible {
    display: block;    
}    

ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 50px 25px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {    
    width: 100%;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    background-color: orange;
    color: white;
    border-color: white;
}
/* end menu */

#block-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#main {
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.figure {
    position: absolute;
}
#bigYellow-Triangle{
    width: 10rem;
    height: 20rem;
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
    background-color:#f9c30f;
}
#bigGreen-Triangle{
    width: 20rem;
    height: 10rem;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    background-color: #33c763;
}
#blue-Triangle{
    width: 5rem;
    height: 10rem;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    background-color:#3396f8;
}
#greenSmallTriangle{
    width: 10rem;
    height: 10rem;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    background-color: #8bc03d;
}
#red-Square{
    width: 10rem;
    height: 10rem;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-color:#f96764;
}
#blue-Parallelogram{
    width: 17.5rem;
    height:5rem;
    clip-path: polygon(28.5% 0%, 85.6% 0%, 57.5% 100%, 0% 100%);
    background-color: #8f91d7;
}
#orange-Triangle{
    width: 10rem;
    height: 5rem;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    background-color: #fe9832;
}
#blue-Triangle{
    width: 5rem;
    height: 10rem;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    background-color:#3396f8;
}

@media screen and (max-width: 1024px) {
    #main {
        transform: scale(100%);
    }
}

@media screen and (max-width: 700px) {
    #main {
        transform: scale(75%);
    }
}
@media screen and (max-width: 320px) {
    #main {
        transform: scale(35%);
    }
}

@media screen and (min-width: 992px) {
    .nav {
        display: block; 
        width: 100%;   
        top: 0; 
        padding: .5em 0;      
    }

    .button_burger {        
        display: none;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        padding: 0; 
        height: auto;       
    }

    button {
        margin: 20px;       
    }    
}


