* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    margin: 0;
}

/*button burger creation middle bar*/

.button_burger {
    width: 35px;
    height: 22px;
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 3;
}

.button_burger.active {
    position: absolute;
    top: 1em;
    left: inherit;
    right: 1em;
}

.button_burger span {
    width: 70%;
    height: 4px;
    background-color: black;
    display: block;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;
}

/*top / bottom burger bar icon*/

.button_burger span::before,
.button_burger span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #01113d;
    transition: transform 0.5s ease-in-out;
    border-radius: 5px;
}
.button_burger span::before {
    transform: translateY(-10px);   
}
.button_burger span::after {
    transform: translateY(10px);   
}

/*button animation*/

.button_burger.active span::before {
    transform: translateY(0px) rotateZ(45deg);
    background-color: #01113d;
    border-radius: 5px;
}

.button_burger.active span::after {
    transform: translateY(0px) rotateZ(-45deg);
    background-color: #01113d;
    border-radius: 5px;
}

.button_burger.active span {
    background-color: transparent;
}


/*menu inside burger*/

.nav {
    position: absolute;  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em; 
    padding: 1em;          
    height: 100vh;
    width: 57%;
    top: 0;
    left: 0;
    background: #ffffff8e;
    box-shadow: 0px 0px 10px #aaaaaa71;
    z-index: 1;
    visibility: hidden;
}

.visible {
    visibility: visible;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 75px;      
    padding: 10px; 
    background-color: #ffffff;
    border: none;   
    box-shadow: 1px 1px 5px #aaaaaa71;
    border-radius: 5px;
}

.img-btn {
    width: 100%;
    max-width: 60px;
}

/* end menu */

#block-page {
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#main {
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.figure {
    position: absolute;
}
#greenSmallTriangle {
    width: 10em;
    height: 10em;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    background-color: #8bc03d;
}

#blue-Triangle {
    width: 5em;
    height: 10em;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    background-color: #3396f8;
}

#red-Square {
    width: 10em;
    height: 10em;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-color: #f96764;
}

#orange-Triangle {
    width: 10em;
    height: 5em;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    background-color: #fe9832;
}

#blue-Parallelogram {
    width: 17.5em;
    height: 5rem;
    clip-path: polygon(28.5% 0%, 85.6% 0%, 57.5% 100%, 0% 100%);
    background-color: #8f91d7;
}

#bigGreen-Triangle {
    width: 20em;
    height: 10em;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    background-color: #33c763;
}

#bigYellow-Triangle {
    width: 10em;
    height: 20em;
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
    background-color: #f9c30f;
}


/* change menu form */

@media screen and (min-width: 992px) {
    .nav {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100px;
        padding: 0;
        visibility: visible;
        opacity: 1;
        position: inherit;
        top: 0;
    }
    .button_burger {
        display: none;
    }

    button {
        width: 75px;
        height: 75px;
    }    
}


/* responsive */

@media screen and (min-width: 900px) {
    #main {
        transform: scale(80%);
    }
}

@media screen and (max-width: 900px) {
    #main {
        transform: scale(70%);
    }
}

@media screen and (max-width: 800px) {
    #main {
        transform: scale(50%);
    }
}

@media screen and (max-width: 600px) {
    #main {
        transform: scale(45%);
    }
}

@media screen and (max-width: 425px) {
    #main {
        transform: scale(35%);
    }
}