    /*button burger creation middle bar*/
    
    .button_burger {
        width: 35px;
        height: 22px;
        position: fixed;
        top: auto;
    }
    
    .button_burger span {
        width: 70%;
        height: 4px;
        background-color: black;
        display: block;
        position: absolute;
        top: 70%;
        transform: translateY(-50%);
        transition: background-color 0.5s ease-in-out;
    }
    /*top / bottom burger bar icon*/
    
    .button_burger span::before,
    .button_burger span::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: black;
        transition: transform 0.5s ease-in-out;
    }
    
    .button_burger span::before {
        transform: translateY(-10px);
    }
    
    .button_burger span::after {
        transform: translateY(10px);
    }
    /*button animation*/
    
    .button_burger.active span::before {
        transform: translateY(0px) rotateZ(45deg);
        background-color: rgba(255, 166, 0, 0.575);
    }
    
    .button_burger.active span::after {
        transform: translateY(0px) rotateZ(-45deg);
        background-color: rgba(255, 166, 0, 0.575);
    }
    
    .button_burger.active span {
        background-color: transparent;
    }
    /*menu inside burger*/
    
    .nav {
        display: none;
    }
    
    .nav.visible {
        display: block;
        position: absolute;
        opacity: 0.8;
        background: #ffffff;
        height: auto;
        width: 50%;
        top: 40px;
        left: 0;
        box-shadow: 0px 0px 10px #aaaaaa;
        z-index: 1;
    }
    
    button {
        width: 90%;
        font-size: 10px;
        text-decoration: none;
        font-weight: bold;
        padding: 10px;
        background-color: orange;
        color: white;
        border-color: white;
        margin: 5px;
    }
    /* end menu */
    
    #block-page {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    #main {
        width: 80vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .figure {
        position: absolute;
    }
    
    #greenSmallTriangle {
        width: 10em;
        height: 10em;
        clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
        background-color: #8bc03d;
    }
    
    #blue-Triangle {
        width: 5em;
        height: 10em;
        clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
        background-color: #3396f8;
    }
    
    #red-Square {
        width: 10em;
        height: 10em;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        background-color: #f96764;
    }
    
    #orange-Triangle {
        width: 10em;
        height: 5em;
        clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
        background-color: #fe9832;
    }
    
    #blue-Parallelogram {
        width: 17.5em;
        height: 5rem;
        clip-path: polygon(28.5% 0%, 85.6% 0%, 57.5% 100%, 0% 100%);
        background-color: #8f91d7;
    }
    
    #bigGreen-Triangle {
        width: 20em;
        height: 10em;
        clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
        background-color: #33c763;
    }
    
    #bigYellow-Triangle {
        width: 10em;
        height: 20em;
        clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
        background-color: #f9c30f;
    }
    /* change menu form */
    
    @media screen and (min-width: 992px) {
        .nav {
            display: flex;
            width: 100%;
            height: 100px;
            padding: 0;
        }
        .button_burger {
            display: none;
        }
        button {
            margin: 5px;
        }
    }
    /* responsive */
    
    @media screen and (max-width: 1024px) {
        #main {
            transform: scale(100%);
        }
    }
    
    @media screen and (max-width: 900px) {
        #main {
            transform: scale(50%);
        }
    }
    
    @media screen and (max-width: 800px) {
        #main {
            transform: scale(50%);
        }
    }
    
    @media screen and (max-width: 600px) {
        #main {
            transform: scale(45%);
        }
    }
    
    @media screen and (max-width: 425px) {
        #main {
            transform: scale(35%);
        }
    }
    /**/