.bigYellow-Triangle{
    transform: translateX(-14.9rem) translateY(-3rem) rotate(405deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}
.bigGreen-Triangle{
    transform: translateX(-22rem) translateY(10rem) rotate(495deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}

.blue-Triangle{
    transform: translateX(20.3rem) translateY(-3.3rem) rotate(405deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}

.red-Square{
    transform: translate(-0.6rem,-3rem) rotate(45deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}

.blue-Parallelogram{
    transform: translateX(13.8rem) translateY(-4rem) rotate(360deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
    
}
.orange-Triangle {
    transform: translateX(4.7rem) translateY(-4.7rem) rotate(495deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}
.greenSmallTriangle {
    transform: translateX(-9.2rem) translateY(-1.6rem) rotate(180deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}

@media screen and (max-width: 1024px) {
    #main {
        transform: scale(100%);       
    }
}

@media screen and (max-width: 700px) {
    #main {
        transform: scale(50%) rotate(0deg);
    }
}
@media screen and (max-width: 320px) {
    #main {
        transform: scale(10%);
    }
}

@media screen and (min-width: 992px) {
    .nav {
        display: block; 
        width: 100%;   
        top: 0; 
        padding: .5em 0;      
    }

    .button_burger {        
        display: none;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        padding: 0; 
        height: auto;       
    }

    button {
        margin: 20px;       
    }    
}