#blockCenter{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.figure{
    position: relative;
    width: 320px;
    height: 320px;
    /* background: aliceblue; */
}


#greenSmallTriangle{
    position: absolute;
    width: 10rem;
    height: 10rem;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    background-color: #8bc03d;
    transform: rotate(225deg) translateX(0rem);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
    top: 280px;
    left: 350px;
}

#blueTriangle {
    width: 5rem;
    height: 10rem;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    background-color: #3396f8;
    position: absolute;
    transform: rotate(-225deg) translateX(0rem) translateY(12rem);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
    top: 377px;
    left: 607px;
}

#redSquare {
    width: 10rem;
    height: 10rem;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-color: #f96764;
    transform: rotate(45deg) translateX(0rem) translateY(10rem);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
    position: absolute;
    top: 100px;
    left: 460px;
}

#orangeTriangle {
    width: 10rem;
    height: 5rem;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    background-color: #fe9832;
    position: absolute;
    transform: rotate(45deg) translateX(10rem) translateY(10rem);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
    top: -58px;
    left: 319px;
}


#blueParallelogram {
    width: 17.5rem;
    height: 5rem;
    clip-path: polygon(28% 0%, 86% 0%, 57% 100%, 0% 100%);
    background-color: #8f91d7;
    position: absolute;
    transform: rotate(45deg) translateX(10rem) translateY(0rem);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
    top: 277px;
    left: 78px;
}

#blueParallelogram:after {
    content: '';
    border-bottom : 50px solid #8f91d7;
    border-right  : 20px solid transparent;
    border-left   : 20px solid transparent;
    position : absolute;
    transform: rotate(0deg) translateX(10rem) translateY(0rem);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}

#bigGreenTriangle {
    width: 20rem;
    height: 10rem;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    background-color: #33c763;
    overflow: hidden;
    position: absolute;
    transform: rotate(0deg) translateX(0rem) translateY(20rem);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
    top: -130px;
    left: 42px;
}

#bigYellowTriangle {
    width: 10rem;
    height: 20rem;
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
    background-color: #f9c30f;
    position: absolute;
    transform: rotate(0deg) translateX(20rem) translateY(-0rem);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
    margin: 0;
    top: 30px;
    left: -118px;
}