.bigYellow-Triangle{
    transform: translateX(-4rem) translateY(-1rem) rotate(360deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78); 
}
.bigGreen-Triangle{
    transform: translateX(-9rem) translateY(4rem) rotate(360deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}

.blue-Triangle{
    transform: translateX(10.3rem) translateY(7.3rem) rotate(135deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}

.red-Square{
    transform: translate(5rem,5.5rem) rotate(45deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}

.blue-Parallelogram{
    transform: translateX(-3rem) translateY(12.5rem) rotate(225deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
    
}
.orange-Triangle {
    transform: translateX(3.2rem) translateY(0.2rem) rotate(45deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}
.greenSmallTriangle {
    transform: translateX(4.8rem) translateY(9.8rem) rotate(225deg);
    transition: transform 1s cubic-bezier(.45, -1.12, .35,1.78);
}

@media screen and (max-width: 1024px) {
    #main {
        transform: scale(100%);
    }
}

@media screen and (max-width: 700px) {
    #main {
        transform: scale(75%);
    }
}
@media screen and (max-width: 320px) {
    #main {
        transform: scale(35%);
    }
}

@media screen and (min-width: 992px) {
    .nav {
        display: block; 
        width: 100%;   
        top: 0; 
        padding: .5em 0;      
    }

    .button_burger {        
        display: none;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        padding: 0; 
        height: auto;       
    }

    button {
        margin: 20px;       
    }    
}